<a href="https://colab.research.google.com/github/sphuang28/tibaml1017/blob/main/10_06_%E7%88%AC%E8%9F%B2%E7%A8%8B%E5%BC%8F%E8%A8%AD%E8%A8%88%E8%88%87%E8%B3%87%E6%96%99%E5%BA%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install pymysql
# "ngrok tcp 3306"搭配連線軟體使用中需一直開啟

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.4 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:

import pymysql
import prettytable

db=pymysql.connect(
    host="0.tcp.jp.ngrok.io",
    user="root", 
    passwd="",
    db="2022-10-05",
    charset="utf8",
    port=14232,
    )

cur=db.cursor()

# a="111"
# b="333"
# c="222"
# d="2022-10-06"
# cur.execute("insert into `news`(`title`,`source`,`description`,`create_date`) values(%s,%s,%s,%s)",[a,b,c,d]) 
# db.commit()

# data=["999","9999","8888","2022-01-01"]
# cur.execute("insert into `news`(`title`,`source`,`description`,`create_date`) values(%s,%s,%s,%s),('258','654','753','951')",data)
# db.commit()

# data={
#   "a":"999",
#   "b":"9999",
#   "c":"17",
# }
# cur.execute("update `news` set `title`=%(a)s,`source`=%(b)s where `id`=%(c)s",data)
p1=prettytable.PrettyTable(["編號","姓名"], encoding="utf-8")

cur.execute("select * from `news`")
data=cur.fetchall()
for d in data:
  d1=(d[0],d[1])
  p1.add_row(d1)
  print(d1)

# d=cur.fetchone()
# print(d[0],d[1])
# d=cur.fetchone()
# print(d[0],d[1])
# print("===========")
# data=cur.fetchall()
# for d in data:
#   print(d[0],d[1])
# print("筆數:",cur.rowcount)

db.commit()
db.close()

(1, '電子時報')
(2, '經濟日報')
(3, 'Yahoo奇摩新聞')
(4, '經濟日報')
(5, '數位時代')
(6, '123')
(8, 'IRC')
(9, 'aaa')
(12, '111')
(13, '999')
(14, '999')
(15, '258')
(16, '999')
(17, '999')
(18, '999')
(19, '258')